h2 {
    padding-left: 25px;
    align-content: center;
    font-family: script;
}

md-content {
    background-color: red;
}

md-toolbar {
    height: 100px;
    
}
.md-ink-ripple  {
    font-size: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.mdi-plus-circle {
    display: inline;
    color: red;
    
}

md-input-container {
    display: inline-flex;
}
.md-button {
    padding: 0 6px 0 6px;
      margin: 6px 8px 6px 8px;
      min-width: 88px;
      border-radius: 3px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      text-decoration:none;
      border: none;
      outline: none;
}
layout-align {
    font-family: "Times New Roman", Times, serif;
       
}
.mdi-magnify {
    display: inline;
}

md-card img {
  width: 100%;
  height: auto !important;
  min-height: 0px;
}

button .material-icons {
  margin-top: 7px;
}

.filters md-input-container {
  margin-right: 10px;
}

.electedofficial.ng-enter, .electedofficial.ng-move {
  transition: 0.4s all;
  opacity: 0;
}

.electedofficial.ng-enter.ng-enter-active, .electedofficial.ng-move.ng-move-active {
  opacity: 1;
}

.electedofficial.ng-leave {
  animation: 0.4s fade_electedofficial;
}

@keyframes fade_electedofficial {
  from { opacity: 1; }
  to { opacity: 0; }
}