<md-card
  class="electedofficial" 
  ng-repeat="electedofficial in electedofficials | 
            filter: electedofficialsFilter | 
            filter: category" 
            flex="30">

  <img ng-src="{{ electedofficial.image }}" class="md-avatar">
    <md-card-content>
      
        <div class="electedofficial-info" ng-show="!showContact">
          <h2 class="md-name">{{ electedofficial.name }}</h2>
          <h5>{{ electedofficial.term | date }}</h5>
          <p>{{ electedofficial.description }}</p>
        </div>

    </md-card-content>  
      
    <div class="electedofficial-contact" ng-if="showContact">
      <p>
        <md-icon class="mdi mdi-home"></md-icon> 
        {{ electedofficial.contact.website }}
      </p>
      <p>
        <md-icon class="mdi mdi-phone"></md-icon>
        {{ electedofficial.contact.phone }}
      </p>
      <p>
        <md-icon class="mdi mdi-email"></md-icon>
        {{ electedofficial.contact.email }}
      </p>
    </div>

    <div layout="column" layout-align="center">
      <md-button 
        ng-click="showContact = true"
        ng-show="!showContact">
        Contact
      </md-button>

      <md-button 
        ng-click="showContact = false"
        ng-show="showContact">
        Details
      </md-button>

      <md-button 
        ng-click="showAdmin = true"
        ng-show="!showAdmin">
        Admin 
      </md-button>

      <md-button 
        ng-click="showAdmin = false"
        ng-show="showAdmin">
        Close
      </md-button>
    </div>

    <div class="electedofficial-admin" ng-if="showAdmin">
      <h3>Administrator</h3>
      <div layout="column">
        <md-button 
          class="md-primary"
          ng-click="vm.editElectedofficial(electedofficial)">
          Edit
        </md-button>
        <md-button 
          class="md-warn"
          ng-click="vm.deleteElectedofficial($event, electedofficial)">
          Delete
        </md-button>
      </div>
    </div>

  
</md-card>